{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Section promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>
				<div class="container">
					<div class="promo__block">
						<div class="promo__block--content">
							<h2 class="promo__title">Как начать заниматься йогой дома?</h2>
							<p class="promo__subtitle">Подберите программу и получите<br>месяц он-лайн занятий бесплатно</p>
							<p class="promo__text">ответив на 5 вопросов теста</p>

							<div class="promo__btn--block">
								<a href="quiz.html" class="btn btn__accent btn__wide btn__with-ic">
									<span class="btn__content">Подобрать программу и получить<br>1 месяц занятий</span>
								</a>

								<p class="promo__btn--text text-center">Тест бесплатный. Данные защищены</p>
							</div>
						</div>

						<div class="promo__img column align-vertical-center text-center">
							<img src="img/promo-img.png" alt="">
							<h3 class="author__name">Добровольский Владислав</h3>
							<p class="author__position">наставник on-line школы йоги<br>Садхана</p>
						</div>


					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section promo -->

			<!-- Section gift -->
			<section class="sect__gift">
				<h2 class="w3c">&nbsp;</h2>
				<div class="container">
					<div class="row align-horisontal-end gift__row">
						<div class="gift__decor">
							<img src="img/decor-img.png" alt="">
						</div>
						
						<div class="gift__block">
							<span class="gift">Подарок</span>

							

							<div class="row align-vertical-center align-horisontal-start row-nowrap">
								<div class="gift__img">
									<img src="img/gift.png" alt="">
								</div>
								<div class="gift__content">
									<p class="gift__text">После прохождения теста вы получите первый месяц занятий в on-line школе йоги с наставником<br><b>в подарок!</b></p>


								</div>
							</div>


							<div class="gift__btn--block">
								<a href="quiz.html" class="btn btn__light">Пройти тест</a>
							</div>


						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section gift -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>