.btn
	display inline-block
	line-height 1
	transition all .17s ease-in-out
	backface-visibility hidden
	border-radius 8px
	color $text-color
	max-width 550px
	border-radius 6px
	&__accent
		background-color $accent-color
		animation pulse 1s cubic-bezier(0, 0.04, 0.46, 1.34) infinite
		border-radius 6px
	
	&__content
		display block
		text-align left
		font 24px $Italic
		padding 18px 60px
	&__with-ic
		.btn__content
			padding-right 100px
			background url('../img/icons/gift-ic.png') right 45px center no-repeat / 54px 50px
		
	&__wide
		width 100%
		.btn__content
			padding-left 10px
			padding-right 10px
		
	&__light
		background-color $light-color
		color $text-color
		font 1.2em $Italic
		padding 19px 85px
		animation pulse 1s cubic-bezier(0, 0.04, 0.46, 1.34) infinite
	
	&__close
		display inline-block
		width 23px
		height 23px
		position absolute
		top 20px
		right 20px
		background url('../img/icons/svg/close-ic.svg') 50% 50% no-repeat / 23px 23px

	&__submit
		.btn__content
			font-size 20px
			padding-left 80px
			background url('../img/icons/svg/download.svg') left 20px center no-repeat / 45px 60px
@keyframes pulse
	0%
		transform scale(1.01,1.01)
	50%
		transform scale(1, 1)
	100%
		transform scale(1.01,1.01)