.socials
	&__item
		display inline-block
		margin-right 30px
	&__link
		display block
		width 55px
		height 55px
		background-position 50% 50%
		background-repeat no-repeat
		background-size 55px 55px
		&:hover
			opacity .7