.logo
	display flex
	align-items center
	justify-content flex-start
	color $text-color
	font-size 20px
	&__img
		display block
		max-width 195px
		margin-right 30px
		transition opacity .17s ease-in-out
		
	&:hover
		color $accent-color
		.logo__img
			opacity .7
