$quiz-bg = #fff

	
$quiz-accent-color = #6f4170
$quiz-primary-color = #fbce19



$quiz-answer-elem-border-color = #6f4170

$quiz-grey-block-bg = #F3F3F3

$quiz-progress-bg = #fff
$quiz-progress-border-color = #6f4170



.sect__quiz
	padding 50px 0 
	border-bottom 2px solid $primary-color

.quiz
	
	
	
	&__header
		margin-bottom 30px
		&--row
			position relative
			
	&__body
		min-height 740px

	&__progress
		margin-bottom 20px
		width 100%
		position relative
		overflow hidden
		border-radius 12px
		border 1px dashed $quiz-progress-border-color
		background-color $quiz-progress-bg	
		height 35px
		max-width 400px
		
		&--line
			display block
			position absolute
			height 100%
			left 0
			overflow hidden
			background-size 10px 100%
			background-color $quiz-accent-color
			background-image linear-gradient(center bottom, rgb($quiz-accent-color) 37%, rgb($quiz-accent-color) 69%)
			transition width .3s ease-in-out
			&:after
				pseudo()
				position absolute
				overflow hidden
				top 0
				left 0
				bottom 0
				right 0
				background-image linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
				z-index 1
				background-size 50px 50px
				animation move 2s linear infinite
		
		&--counter
			position absolute
			position-center()
			z-index 5
			color $primary-color
			font-family $ABold
			&-light
				color $light-color
	

	&__step
		// display none
		// &:first-child
		// 	display block
		&--content
			display flex
			align-items flex-start
			justify-content space-between
		&--question
			font 1.5em $ABold
			padding-bottom 40px
			margin-bottom 25px
			position relative
			&:before
				pseudo()
				position absolute
				left 0
				bottom 0
				width 160px
				height 8px
				background-color $accent-color
			&-title
				text-transform uppercase
				color $primary-color
				font 2em $ABold
				margin-bottom 20px
			
		&--subtitle
			font-size 20px

		&--answers
			
			&-col
				width 520px
				padding-right 30px
				text-align left
				
		&--info
			&-col
				flex 1
				
			&-content
				min-height 350px
				position relative
				overflow hidden
				border 1px dashed $quiz-accent-color
				border-top-left-radius 6px
				border-top-right-radius 6px
				border-bottom none
				padding 20px
				&_start
					&-block
						&.is-hidden
							opacity 0
					img
						display block
						margin 0 auto
					p
						position relative
						display inline-block
						&:before
							pseudo()
							position absolute
							left -35px
							top -90px
							width 37px
							height 89px
							background url('../img/arrow.png') 50% 50% no-repeat / 37px 89px
							transform scaleX(-1) rotate(-115deg)
				&_block
					position absolute
					fullSize()
					z-index 2
					padding 25px 50px
					display flex
					justify-content flex-end
					align-items center
					opacity 0
					visibility hidden
					// transition all .17s ease-in-out
					&.is-active
						opacity 1
						visibility visible
				&_text
					border-radius 6px
					padding 60px 10px
					font-size 12px
					text-align left
					background-color $light-color
					max-width 230px
					p
						position relative
						padding-top 16px
						&:before
							pseudo()
							position absolute
							width 50px
							height 2px
							background-color $quiz-primary-color
							left 0
							top 0
				
			&-img
				width 100%
				height 350px
				&_decor
					margin-top 10px
					img
						display block
				
			&-advantages
				background-color $quiz-primary-color
				padding 20px
				text-align center
				&_title
					font-family $ABold
				
				.row
					max-width 560px
					margin 0 auto
			&-advantage
				width 50%
				padding 15px 15px 0 15px
				display flex
				align-items center
				flex-direction column
				font-family $Italic
				&_ic
					display block
					width 80px
					height 80px
					background-color #fff
					border-radius 50% 50%
					background-position 50% 50%
					background-size auto
					background-repeat no-repeat
					margin-bottom 5px
		

	&__answers
		&--columns
			display flex
			justify-content flex-start
			align-items flex-start
			&-col
				min-width 200px
				width 50%
				&:last-child
					margin-left 20px
				
			
	&__answer
		position relative
		display inline-block
		margin-left 0
		padding-left 30px
		color $text-color
		text-align left
		&:before,
		&:after
			pseudo()
			transition all .15s ease-in-out
			position absolute
			
		&:before
			width 19px
			height 19px
			border 1px solid $quiz-answer-elem-border-color
			top 2.5px
			left 0
		&:after
			width 11px
			height 11px
			background-color $quiz-accent-color
			opacity 0
			
		&--checkbox
			&:before
				border-radius 4px
				
				
			&:after
				left 5px
				top 4px
				border-radius 2px
				
				
		&--radio
			&:before,
			&:after
				border-radius 50%
				
			&:after
				top 6.5px
				left 4px
				
			&-transparent
				width 19px
				height 19px
				span
					opacity 0
				
	

		&--wrapper
			cursor pointer
			input
				display none
			&-block
				margin-bottom 22px
				&:last-child
					margin-bottom 0
				
	

			input:checked + span:after
				opacity 1
	

	&__textarea
		display block
		border 1px dashed $quiz-accent-color
		border-radius 6px
		min-height 140px
		width 100%
		padding 15px
		font 1em $AReg
		&:focus
			border-color $quiz-primary-color
		&--wrapper
			display block
			flex 1
			max-width 460px	
			// padding-left 30px

	&__controls
		margin-top 22px
		
	&__btn
		font 1.2em $Italic
		background-color $quiz-primary-color
		display inline-block
		line-height 1
		transition all .17s ease-in-out
		backface-visibility hidden
		text-transform none
		border-radius 6px
		text-align center
		padding 24px 75px
		animation pulse 1s cubic-bezier(0, 0.04, 0.46, 1.34) infinite
		span
			pointer-events none
			position relative
			z-index 2
			
	&__inputs
		position relative
		z-index 1
		width 100%
		max-width 300px
		.quiz__btn
			font-size 18px
		&--block
			position relative
			display flex
			justify-content flex-end
			img
				position absolute
				vertical-center()
				left 0
				width 490px
	&__input
		display block
		background-color #FAFAFA
		border-radius 50px
		border 1.5px solid #C9C9C9
		text-align left
		color $text-color
		padding 23px 30px
		font 16px $Reg
		line-height 19px
		width 100%
		margin-bottom 15px
		&:last-child
			margin-bottom 0
		&::-webkit-input-placeholder
			font 16px $Reg
			color rgba($text-color, .5)
		
		&::-moz-placeholder

			font 16px $Reg
			color rgba($text-color, .5)
		
		&:-moz-placeholder

			font 16px $Reg
			color rgba($text-color, .5)
		
		&:-ms-input-placeholder

			font 16px $Reg
			color rgba($text-color, .5)
			
		&:hover,
		&:focus
			border-color $quiz-accent-color
			
		&--sm
			padding 10px 15px
			width 250px
			background-color $light-color
			
		&--md
			border-radius 5px
			width 100%
			max-width 470px
			padding 10px 15px
			
			
		&--label
			
			margin-bottom 10px
			font-size 20px
			font-family $Reg
			
			

@keyframes move 
	0% 
		background-position 0 0
	100% 
		background-position 50px 50px
		
@keyframes pulse
	0%
		transform scale(1.01,1.01)
	50%
		transform scale(1, 1)
	100%
		transform scale(1.01,1.01)
