<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row align-horisontal-between row-gutters">
				<div class="col__4 col ">
					<p class="footer__text">ООО «Энергия»</p>
					<p class="footer__text">ИНН 7802584402</p>
					<p class="footer__text">ОГРН 1167847264386</p>
				</div>

				<div class="col__3  col ">
					<p class="footer__text">Все данные защищены.</p>
					<p class="footer__text"><a href="#">Политика конфиденциальности</a></p>
				</div>

				<div class="col__4 col column align-vertical-start">
					<div class="footer__contacts">
						<div class="footer__contacts--phones column">
							<a href="tel:+88002500734" class="footer__contacts--phones-link">8-800-25-007-34</a>
							<a href="tel:+79117019307" class="footer__contacts--phones-link footer__contacts--phones-link_messangers"><span>+7 (911) 701-93-07</span></a>
							<p class="footer__text"><a href="mailto:info@sadhana-yoga.online">info@sadhana-yoga.online</a></p>
						</div>
						<p class="footer__text">Санкт-Петербург, <br>пр. Художников дом 33/4</p>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>


	<div class="footer__bottom light-color">
		<div class="container">
			<div class="row align-horisontal-between">
				<div class="col__4 col"></div>
				<div class="col__3 col column  align-horisontal-start">
					<p class="copyright">&copy; on-line школа йоги<br>САДХАНА</p>
				</div>
				<div class="col__4 col">
					<p class="developer">Разработка сайта <a href="#" target="_blank" class="developer">quiz24.ru</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
