//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Acrom-regular', 'Acrom-regular', 'acrom400', true, normal, normal)
webfont('Acrom-bold', 'Acrom-bold', 'acrom800', true, normal, normal)
webfont('PTSerif-BoldItalic', 'PTSerif-BoldItalic', 'PTSerif-BoldItalic', true, normal, normal)
webfont('PTSerif-Italic', 'PTSerif-Italic', 'PTSerif-Italic', true, normal, normal)