.container
	margin 0 auto
	width 100%
	max-width $container-width
	padding $container-gutters
	
.row
	display flex
	flex-wrap wrap
	&-nowrap
		flex-wrap nowrap
	&-gutters
		margin-left $row-gutter-left
		margin-right $row-gutter-right
		
.column
	display flex
	flex-direction column
	
.align
	&-horisontal
		&-start
			justify-content flex-start
		&-center
			justify-content center
		&-end
			justify-content flex-end
		&-between
			justify-content space-between
			
	&-vertical
		&-start
			align-items flex-start
		&-center
			align-items center
		&-end
			align-items flex-end
		&-baseline
			align-items baseline
		
	&-stretch
		align-items stretch
				
.col
	&__6
		padding $col-gutters
		width 16.666666%
		width calc(100% / 6)
	&__5
		padding $col-gutters
		width 20%	
	&__4
		padding $col-gutters
		width 25%
	&__3
		padding $col-gutters
		width 33.3333%
		width calc(100% / 3)
	&__2
		padding $col-gutters
		width 50%
	&__1
		padding $col-gutters
		width 100%
	