//  Fonts 
$ABold = 'Acrom-bold', Arial, sans-serif
$AReg = 'Acrom-regular', Arial, sans-serif
$BoldItalic = 'PTSerif-BoldItalic', Arial, sans-serif
$Italic = 'PTSerif-Italic', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #fbce19
$primary-color = #6f4170
$text-color = #000

$light-color = #fff
$dark-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #a2a2a2
$footer-primary-bg = #6f4170
$footer-bg = #fff

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========