<form class="form js-form">
	<!-- Hidden inputs -->
	<input type="hidden" name="project_name" value="">
	<input type="hidden" name="admin_email" value="email@email">
	<input type="hidden" name="form_subject" value="">
	<!-- // Hidden inputs -->
	<div class="input__wrapper">
		<input type="text" class="input js-input is-error" name="name" placeholder="Имя">
	</div>	

	<div class="input__wrapper">
		<input type="tel" class="input js-input" name="phone" placeholder="Телефон">
	</div>	

	<div class="input__wrapper">
		<input type="mail" class="input js-input" name="email" placeholder="E-mail">
	</div>

	<div class="input__wrapper">
		<label class="checkbox__label">
			<input name="checkbox" type="checkbox">
			<span class="checkbox">Check!</span>
		</label>
	</div>	

	<div class="input__wrapper">
		<label class="radio__label">
			<input name="radio" type="radio">
			<span class="radio">Check!</span>
		</label>
	</div>	

	<button type="submit" class="btn">SEND</button>				
</form> 