<!-- Popup -->
<div class="popup js-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center">
			<button class="btn__close js-close-popup-btn" type="button"></button>
			<!-- Popup content-->
			<div class="popup__content">
				<h2 class="popup__title text-center">Почему занятия с наставником эффективны<br>и помогают быстрее достичь лучших результатов?</h2>

				<div class="popup__content--blocks">
					<div class="popup__content--block">
						<div class="row align-vertical-center align-horisontal-between row-nowrap">
							<div class="content text-left">
								<p>В соответствии с древними йогическими шастрами главный принцип йоги - передача знаний от учителя к ученику. Прямой контакт и непосредственное общение</p>
								<p>Практика йоги - мощная технология воздействия на тело, ум и сознание человека. При правильной практике приходят результаты.Не верное освоение асан, делают практику бесполезной. </p>
								<p><b>Поэтому, ученики нашей школы записывают выполнение асан на видео и присылают своему наставнику.</b></p>
							</div>
							<div class="master__info text-center">
								<img src="img/master.png" alt="">
								<p class="master__description"><b>19 лет - опыт занятий йогой<br>наставника он-лайн школы</b><br>Владислава Добровольского </p>
							</div>

						</div>

						<div class="master__duty light-color">
							<p class="master__duty--subtitle">Наставник, смотрит видео практики ученика, корректирует<br>и отслеживает правильность по трём аспектам</p>

							<ol class="row align-horisontal-start">
								<li>на физическом уровне</li>
								<li>на ментальном уровне</li>
								<li>на энергетическом уровне</li>
							</ol>
						</div>
					</div>

					<div class="popup__content--block text-left">
						<p><span class="highlighted">На физическом уровне</span> наставник контролирует расслабление и правильность выполнения асан.<br>При выполнении упражнений ученик может напрягать тело, не правильно завести руку или неверно поставить ногу. Например: в некоторых асанах нужно отвести ногу на 10 см. дальше или ближе, и упражнение уже выполнить легче и комфортнее.<br>Также наставник объясняет, как в достаточно сложной асане, приобрести и выполнить главный принцип йоги – расслабление.</p>
					</div>

					<div class="popup__content--block text-left">
						<p><span class="highlighted">На ментальном уровне.</span><br>Если ученик путается в упражнении, наставник даст важные указания, как сосредоточить внимание на практике. Как не отвлекаться на посторонние мысли и быть осознанным при выполнении асан.</p>
					</div>

					<div class="popup__content--block text-left">
						<p><span class="highlighted">На энергетическом уровне</span> ученик делится своим опытом и впечатлениями при выполнении асан, на индивидуальной on-line встрече. Наставник помогает разобраться с правильной визуализацией, проецированием и удержанием образов.</p>
					</div>
				</div>

				<div class="content text-left">
					<p>Йогическая практика в нашей школе содержит суть учений С.С.Сарасвати и представляет квинтессенцию йогических наук. Наставник, обладая достаточным опытом в практике йоги, имеет возможность индивидуально с каждым учеником скорректировать и отследить правильность практики ученика.</p>
					<p>Наставник ежедневно отслеживает практику ученика. Также в нашей школе предусмотрены индивидуальные on-line встречи наставника и ученика 2 раза в месяц.</p>
					<p>Благодаря консультациям, освоение фундаментальных асан с наставником даёт быстрые результаты. </p>
				</div>

				<div class="text-center">
					<a href="#" class="btn btn__accent  js-close-popup-btn">
						<span class="btn__content text-center">Закрыть</span>
					</a>
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Popup -->